<!DOCTYPE html>
<html lang="en">
<head>
<title>DESCprod help</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body style="max-width:700px;color #444;">
<h2>Welcome to DESCprod</h2>
David Adams
<br>
April 2023
<br>
desc-prod 0.3.53

<h3>Introduction</h3>
DESCprod is a web service and supporting code to help users to run DESC jobs at NERSC.
<li>For an overview and status reports, please see
<ul>
<li>
<a href =https://drive.google.com/file/d/1uAMfWpQLenxF_50mjmBWqISEEDxOkdrc/view?usp=share_link>
Talk by David Adams at the January 25, 2023 DESC CO meeting</a>
</li>
<li>
<a href =https://drive.google.com/file/d/1GNceYkg1MO2_nBJoq31O2LYamXKJZYEs/view?usp=share_link>
Talk by David Adams at the March 22, 2023 DESC CO meeting</a>
</li>
</ul>

<h3>Web interface</h3>
To use the DESC web server, point your browser to <a href=https://www.descprod.org>https://www.descprod.org</a>.
<br><br>
To do more than view this document, you will need to tell us who you are.
At present, only google authentication is supported.
Click the login button and you will be taken to their page to sign in if
do not already have credentials in your browser.
If it is the first time you connect, you will have to send some info so we can link your google
and DESC IDs.
Once the link is established, login will take you to the DESCprod home page where you can submit
job and see the status of jobs submitted earlier.
<br><br>
Jobs are specified with three strings:
<ul>
<li>appname - The name of the application to run.</li>
<li>config - What to do: which input data, which processing steps, configuration prameters, ....</li>
<li>howfig - How to carry out the processing: software source, batch submission or not, job splitting, ....</li>
</ul>
Enter these on the line labeled "Create job:" to create a new job.

<br><br>
Right now, the only supported application is parsltest from <a href=https://github.com/LSSTDESC/desc-wfmon>desc-wfmon</a>.
An example config string is:
<pre>
    wq-sleep-ttsk10-ntsk20-nwrk4
</pre>
This is a request to use the WorkQueue scheduler to run 20 10-second sleep jobs using four workers.

<h3>Application interface</h3>
A job with application name APPNAME is ultimately run by calling the script runapp-APPNAME.
It is passed the config and howfig strings as arguments and is responsible for intepreting those
and running the job. It returns 0 to indicate success.
The application should also regularly update current-status.txt with a short line giving the
current status of processing.
That text is regularly reported back to the server and can be seen in the job monitor.
<br><br>
An example application mysleep may be found at
<a href=dune-proc/examples/runapp-mysleep](https://github.com/LSSTDESC/desc-prod/blob/main/examples/runapp-mysleep>
desc-prod/examples/runapp-mysleep</a>.
Copy it to your bin area and you should be able to run a job with appname "mysleep" and config set to the
number of seconds to sleep.

<h3>How interface</h3>
The how configuration string (aka howfig) is a sequence of comma-separated constituents.
If the first constituent is of the form HOWNAME-XXX, and HOWNAME is a name registered with DESCprod,
then runapp-HOWNAME is run instead of runapp-APPNAME with the expectation that the first will either call
the second or create a subjob with application name APPNAME.
Other than such registered constituents, the howfig is intepreted by the application script.
<br><br>
DESCprod provides registered howfig applications pmb and pmbs that cause the job to run in batch.
Use howfig pmb-10 in the parsltest example to run with a 10 minute time limit in perlmutter batch.
With this option, you can safely run 200+ perlmutter workers in the parsltest example above.
You can also replace sleep with ifix0 to run CPU-intenive jobs or ifixw to run jobs that are
CPU and I/O intensive.

<h3>Running jobs</h3>

After a job has been specified on the DESCprod server, it may be started on any client computer with
network access to the server but the primary goal is to support the NERSC machines: perlmutter login
and batch and perhaps workflow machines.
The first step is to install desc-prod on the client:
<pre>
  module install python
  cd some-dir
  git clone https://github.com/LSSTDESC/desc-prod.git
  cd desc-prod
  pip install .
</pre>
The first line ensures a recent version of python at NERSC.
<br><br>
After specifying a a job on the server, you can find its ID in the left-most column of the job table.
Start the job on the client with
<pre>
  descprod-start-job ID
</pre>
Use -h for help on this and other descprod commands.
If all goes well, a subdirectory job...ID will be created in the current directory and the job
will be run there.
Refresh the server page to update the job table and see the job status change.
After completion, there will be a return code (0 if all went well) and an appropriate message in the last column.
<br><br>
To remove clutter on the server page, jobs may be deleted arter completion:
hover over the job ID to obtain links to archive or delete the job.
There is not much point to archive now as we do not yet have the facility to retrieve them from the archive.
<br><br>

<H3>Coming soon</H3>
Our next planned deliverables include:
<ul>
<li>Support for LSST pipeline jobs.</li>
</ul>
Stay tuned.

<br><br>
Comments and contributions are welcome.

</body>
</html>
