<!DOCTYPE html>
<html lang="en">
<head>
<title>DESCprod help</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body style="max-width:700px;color #444;">
<h2>Welcome to DESCprod</h2>
David Adams
<br>
February 2023

<h3>Introduction</h3>
DESCprod is a web service and supporting code to help users to run DESC jobs at NERSC.
<br><br>
For an overview and current status, please see the
<a href =https://drive.google.com/file/d/1uAMfWpQLenxF_50mjmBWqISEEDxOkdrc/view?usp=share_link>talk by David Adams</a>
at the January 25, 2023 DESC CO meeting.

<h3>Web interface</h3>
To use the DESC web server, point your browser to <a href=https://www.descprod.org>https://www.descprod.org</a>.
<br><br>
To do more than view this document, you will need to tell us who you are.
At present, only google authentication is supported.
Click the login button and you will be taken to their page to sign in if
do not already have credentials in your browser.
If it is the first time you connect, you will have to send some info so we can link your google
and DESC IDs.
Once the link is established, login will take you to the DESCprod home page where you can submit
job and see the status of jobs submitted earlier.
<br><br>
Jobs are specified by a job type and a configuration string.
Right now, it is only possible to run parslte/pre
To configure a job, enter a configuration string in the parsltest box and click the submit button.
An example configuration string is:
<pre>
    wq-sleep-ttsk10-ntsk20-nwrk4
</pre>
This is a request to use the WorkQueue scheduler to run 20 10-second sleep jobs using
four workers.
<br><br>
The job may be started on the local system by hovering over the job ID and selecting "Start job".
Resources are limited there and so please do not run more than a few tasks at a time
for more than a few minutes.
After starting, you can get status updates by refreshing the page.
Once the job is done, hover over the job ID to obtain links to archive or delete the job.
There is not much point to archive now as the jobs don't do anything too intersting and
we do no yet have the facility to retrieve them from the archive.
<br>
More typical operation is to start the jobon a remote machine such as perlmutter.
For security reasons, you cannot yet start the job ther from the server but have to log in
to the run machine issue a command there.
First install desc-prod on that machine, e.g. with
<pre>
module load python
cd &lt;some-dir&gt;
git clone https://github.com/LSSTDESC/desc-prod.git
pip install ./desc-prod
</pre>
The first line is the default python installation at NERSC.
Any recent version such as that in DESC releases is also fine.
A job may be started with <i>descprod-start-job</i> and its existence and status
can checked with <i>descprod-get-job</i>. R.g. , to start and check job 1234:
<pre>
descprod-start-job 1234
descprod-get-job 1234
<pre>
If your descprod username differs from that on the local system, the forme must be added
to these commands.
The server URL must also be provided if you are not using the default value.
Use -h for help on either command.


<H3>Coming soon</H3>
Our next deliverable is a command you can run on any of the NERSC computers (e.g. perlmutter
login or batch nodes) to run a job configured on the server.
After that, a job type will be added to allow users to run LSST pipeline jobs.
Stay tuned.
<br><br>
Comments and contributions are welcome.

</body>
</html>
